{% extends "base.html" %}
{% block content %}
<!doctype html>
<title>Files Upload</title>
<style>
    table{
        width: 100%;
        background-color:lightgrey;
    }
    th{

       
       font-size:20px;
       white-space: nowrap;
       border:1px solid black;
       background-color:white;
    }

    #tablecontainer{
        width:60%;
        

    }
    td{
        font-size:20px;
    }
    #createproject{
        float:right;
        background-color: #4CAF50;
        margin-bottom:1em;
        color: white;
    }
</style>

   

    <div id="tablecontainer"class ="container">

    <form method="post" action="/userproject" enctype="multipart/form-data">
        <dl>
            <p>
                <input class="input is-large" type="name" name="name" placeholder="Name" autofocus="">
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</div>

{% endblock %}
