{% extends "base.html" %}
{% block content %}
<!doctype html>
<title>Files Upload</title>
<style>
    table{
        width: 100%;
        background-color:lightgrey;
    }
    th{

       
       font-size:20px;
       white-space: nowrap;
       border:1px solid black;
       background-color:white;
    }

    #tablecontainer{
        width:60%;
        

    }
    td{
        font-size:20px;
    }
    #createproject{
        float:right;
        background-color: #4CAF50;
        margin-bottom:1em;
        color: white;
    }
</style>

   

    <div id="tablecontainer"class ="container">
        <a id= "createproject" href="/createproject" class="button">Create Project</a>
        
    <table>
        <tr><th>Project Name</th>
        <th>Date Created </th>
        <th>Status </th></tr>
    {% if data is defined and data|length > 0 %}
    
    {% for row in data %}
        <tr><td><a href="{{ '/project/%s'%row.projectid}}">{{row.projectName}}</a></td></tr>
    {%endfor%}
    
    {% endif %}
    </table>

</div>

{% endblock %}
