<div id='hideoptions' class='row'>
    <div class='row5'>
        <div class='col5'>
            <h5>Missing Values</h4>
                <div style='margin-bottom:1em' class='form-check form-switch'> <input class='form-check-input'
                        type='checkbox' id='removecheckbox'> <label class='form-check-label'
                        for='flexSwitchCheckDefault'>Drop</label> </div>
                <div style='margin-bottom:1em' class='form-check form-switch'> <input class='form-check-input'
                        type='checkbox' id='mediancheckbox'> <label class='form-check-label'
                        for='flexSwitchCheckDefault'>Replace with Median</label> </div>
                <div style='margin-bottom:1em' class='form-check form-switch'> <input class='form-check-input'
                        type='checkbox' id='modecheckbox'> <label class='form-check-label'
                        for='flexSwitchCheckDefault'>Replace with Mode</label> </div>
                <div style='margin-bottom:1em' class='form-check form-switch'> <input class='form-check-input'
                        type='checkbox' id='meancheckbox'> <label class='form-check-label'
                        for='flexSwitchCheckDefault'>Replace with Mean</label> </div>
        </div>
        <div class='col5' id='outlierdiv'>
            <h5>Outliers</h4>
                <div class='form-group ' id='clamptransformation'><label>Upper value</label> <input id='uppervalue'
                        class='form-control' type='text' placeholder='0'> </div>
                <div class='form-group' id='clamptransformation'> <label>Lower value</label> <input id='lowervalue'
                        class='form-control' type='text' placeholder='0'> </div>
        </div>
        <div class='col5' id='outlierdiv'>
            <h5>Outliers</h4>
                <div class='form-group ' id='clamptransformation'><label>Upper value</label> <input id='uppervalue'
                        class='form-control' type='text' placeholder='0'> </div>
                <div class='form-group' id='clamptransformation'> <label>Lower value</label> <input id='lowervalue'
                        class='form-control' type='text' placeholder='0'> </div>
        </div>
    </div>
</div>