{% extends "base.html" %}

{% block content %}
<script>
  $(document).ready(function () {
    $("#predict").click(function () {
    var modelid = $("#predict").attr("modelid");
    var algorithm = $(".selectdiv #target").val();
    console.log(modelid);
    var url = "/predict/" + modelid;
    window.location.href = url;
})
});
</script>
<div class="column is-4 is-offset-4">

    <div class="box">
            <p><b>Accuracy</b>  {{accuracy}}</p>
            {% for table in tables %}
            {{ table|safe }}
          {% endfor %}
          <img src="data:image/png;base64, {{ plot_url }}">

          <a  modelid = {{modelid}} id= "predict">Predict</a>
    </div>
    <div class="m-5">
      <a href="#"><span class="fa fa-share" data-toggle="tooltip" data-original-title="Share"></span></a>
      <a href="#"><span class="fa fa-edit" data-toggle="tooltip" data-original-title="Edit"></span></a>
      <a href="#"><span class="fa fa-download" data-toggle="tooltip" data-original-title="Download"></span></a>
      <a href="#"><span class="fa fa-repeat" data-toggle="tooltip" data-original-title="Refresh"></span></a>
      <a href="#"><span class="fa fa-filter" data-toggle="tooltip" data-original-title="Filter"></span></a>
      <a href="#"><span class="fa fa-gear" data-toggle="tooltip" data-original-title="Setting"></span></a>
  </div>
</div>
{% endblock %}