.hero-head .navbar{
    background-color:black;
    color:white;
}
.hero-head .navbar a{

    color:white;
}
table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }
  
  td {
    padding: 10px 0;
  }